.hero-section {
  // width: 100vw;
  max-height: 100vh;
  min-height: rem(652px);
  background: url(../img/hero/main.jpg) 100% no-repeat;
  object-fit: cover;
  margin-top: 0;
}

.hero-section {
  @include tablets {
    min-height: 1000px;
    background: url(../img/hero/main-bg-tablet.png)center center no-repeat ;
  }
}

.hero__title-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: rem(100px);
}

.hero__title-section {
  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.hero__main-title {
  font-size: rem(48px);
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
  margin-bottom: rem(15px);
  text-transform: uppercase;


  @include tablets {
    padding: 0 2%;
    // margin-top: 65%;
  }

  @include phones {
    padding: 0 2%;
    // margin-top: 48%;
    font-size: rem(20px);
    line-height: 1.5;
  }
}


.hero__title-desc {
  font-size: rem(21px);
  font-weight: 400;
  color: #fff;
  margin-bottom: rem(28px);

  
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}
