.order-section {
  // width: 100vw;
  height: 100vh;
  min-height: rem(652px);
  background: url(../img/order/order.jpg) center center no-repeat;
  object-fit: cover;

  // @include tablets {
  //   background: url(../img/order/order-bg-tablets.jpg)no-repeat;
  //   object-fit: cover;
  // }
}

.order-container {
  height: 100%;
}
.section__title--light {
  color: #fff;
  // padding-top: rem(62px);
}
