.slider-section {
    // background: #F8FAF9;
    height: 100%;
    min-height:rem(652px);
}

.slider__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.slider__arrow {
    position: absolute;
    top: 50%;

    @include tablets {
        top: 30%;
    }
}

.slider__arrow:hover {
    cursor: pointer;
}
.slider__arrow--left {
    left: 0;
}
.slider__arrow--right {
    rotate: 180deq;
    right: 0;
}
.slider__arrow--icon {
    height: rem(40px);
    width: rem(25px);
}
.slider__list {
    display: flex;
    position: relative;
    right: 0;
    transition: 2s;

}
.slider__list-wrap {
    width: rem(850px);
    overflow: hidden;
    display: flex;
    transition: 2s;

    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }

}
.slider__item {
    width: rem(850px);

    @include tablets {
        // max-width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    } 
}

.slider__img-wrap {
    margin-top: 65px;
    max-width: 45%;

    .img-slider {
        @include tablets {
            // width: rem(330px);
            // height: rem(230px);
            position: relative;
            top: 20%;
        }
        @include phones {
            // width: rem(330px);
            // height: rem(230px);
            position: relative;
            top: 50%;
        }
    }

    // @include tablets {
    //     justify-content: center;
    // }
}

.slide {
    display: flex;
    justify-content: space-between;
}

.slide__content {
    margin-top: rem(65px);
    width: 50%;

    @include tablets {
        width: 80%;
    }
}

.slide__title {
    font-weight: 700;
    font-size: rem(36px);
    line-height: rem(43px);
    text-transform: uppercase;
    color: $colortitle;
}

.slide__title-wrap {
    margin-bottom: rem(24px);

}
    
.slide__desc {
    margin-bottom: rem(20px);
}


.slide__info {
    display: flex;
    margin-bottom: rem(15px);

    @include tablets {
        justify-content: center;
    }
}
    
.slide__bottom {
    display: flex;

    @include tablets {
        justify-content: center;
    }
}
    
.slide__price {
    font-weight: 300;
    font-size: rem(60px);
    line-height: rem(60px);
    color: $colortitle;
    margin-right: rem(65px);

    @include phones {
        // font-size: 20px;
        margin-right: 10px;
    }
}

.info {
    &__item {
        margin-right: rem(50px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__text {
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(22px);
        color: $colortitle;
    }
}




